<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="Services.BookService">
                <clear />
                <endpoint address="basic" binding="basicHttpBinding" contract="Services.IBookService"
                    listenUriMode="Explicit" />
                <endpoint address="ws" binding="ws2007HttpBinding" contract="Services.IBookService"
                    listenUriMode="Explicit" />
                <endpoint address="net.tcp://localhost:8082/BookService" binding="netTcpBinding"
                    contract="Services.IBookService" listenUriMode="Explicit" />
                <endpoint address="net.pipe://localhost/BookService" binding="netNamedPipeBinding"
                    contract="Services.IBookService" listenUriMode="Explicit" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8081/BookService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>